{% extends 'base.html' %}
{% block body %}
<h1>This is the details entering page</h1>
<form method="post">
    {% csrf_token %}
    <input type="text" name="phone" ></input>
<!--    <input type="text" name="phone"></input>-->
<!--    <input type="text" name="phone"></input>-->
<!--    <input type="text" name="phone"></input>-->
<!--    <input type="text" name="phone"></input>-->
<!--    <input type="text" name="phone"></input>-->
<!--    <input type="text" name="phone"></input>-->
<!--    <input type="text" name="phone"></input>-->
<!--    <input type="text" name="phone"></input>-->
<!--    <input type="text" name="phone"></input>-->
<!--    <input type="text" name="phone"></input>-->
<input type="submit">


</form>
{% endblock %}